.scorecard{
 
  width: 100%;
  height: 100vh;
}

.category{
    display: flex;
    list-style: none;
    text-decoration: none;
    margin-top: 5px;
}

.category button{

gap: 20px;
font-size: 24px;
color: #28a2e2ff;
margin-top: 0px;
margin-left: 20px;
text-decoration: none;
height: 30px;
background: none;
border: none;
outline: none;

}

.category button::after{
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: #00bcd4;
  transition: width 0.3s ease;
  margin-top: 2px;
}

.category button:hover::after{
  width:100%;
}


.menu{
   display: flex;
   
   
   width:100%;
   height: 40px;
   
   
}

.bottom{
    display: flex;
    z-index: -100;
    width: 100%;
    
 
}

.left{
    flex-grow: 5;
    height:100%;
    background:linear-gradient(to bottom, white, #eee);
    
    
}

.rendersection{
    height:100%;
   
}

.actions-active{
    display: none;
}

.right{
    
    
    background:linear-gradient(to bottom, #28a2e2ff, #226085ff);
}
.actions-partial{
    display: none;
}
@media(max-width:960px){
    .category{
        gap: 0px;
        
    }

    .category button{
        font-size: 16px;
        margin-left: 10px;
    }
}

@media(max-width:540px){
   
}

@media(max-width:720px){
      .actions-partial{
        background:linear-gradient(to bottom, #28a2e2ff, #226085ff);
        height: 100vh;
        display: block;
    }

       .actions-active{
        display: block;
    }

    .right{
        display: none;
    }
}