.batters{
    width: 100%;
    
    margin-top: 0px;

}

.batterrow{
        padding: 10px 15px;
        height: 25px;
        color: black;
        margin-bottom: 1px solid black;
        gap: 20px;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        
}

.bowlerrow{
        padding: 10px 15px;
        height: 25px;
        color: black;
        margin-bottom: 1px solid black;
        gap: 20px;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        
}

.fig{
        display: flex;
        justify-content: space-between;
        
        width: 170px;
}

.figb{
        display: flex;
        justify-content: space-around;
        
        width:300px;
        text-align: left;
        margin-right: 10px;
        margin-left: 10px;
}  

.figureheads{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
   
    gap: 15px;
    padding-bottom: 2px;
    margin-top: 12px;
    height: 20px;
    border-bottom: 1px solid lightgray;
    width: 100%;
}


.figureheads p{
   margin-top: 0px;
   margin-right: 20px;
}

.partnershiprow{
        padding: 10px 15px;
        height: 25px;
        color: black;
        margin-bottom: 1px solid black;
        gap: 10px;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
          

}
.players {

  margin-bottom: 4px;
  width: 20%;
  overflow:hidden;
  font-size: 18px;
}

.details {
  
  width: 12%;
  font-size: 20px;
  
}

.bar-container {
 
  width: 60%;
  max-width: 600px;
  
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bar {
background: linear-gradient(to left,#28a2e2ff, rgb(45, 128, 176));
  color: white;
  padding: 14px;
  border-radius: 2px;
  white-space: nowrap;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}

@media (max-width:640px) {
        .figureheads p::before{
                content: attr(data-label);
        }

        

        .figureheads p{
                font-size: 14px;
                font-weight:bold;
                visibility: hidden;
                position: relative;
                
                
        }

        .figureheads p::after{
                content: "";
        }

        .figureheads p::before{
                visibility: visible;
                position: absolute;
                left:0;
        }

        .figb{
                background-color: aqua;
                display: flex;
                gap: 20px;
                
                width: auto;
        }

       
}