.score-bar {
    background-color: #fff;
    padding-top: 10px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    
}

.score-bar h2 {
    margin: 0;
    font-size: 18px;
}

.score-bar p {
    margin: 5px 0 0;
    font-size: 14px;
}

.score{
    font-size:36px;
    font-weight:bolder;
    padding:20px;
    width:20%;
    display: flex;
    justify-content: center;
}

.battersname{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    color: black;
    width: 50%;
    text-align: left;
    margin-top: 0;
}

.bowlersname{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
    text-align: right;
   
    margin-right: 20px;
}

.statbar{
    width:100%;
   
    height: 30px;
    box-shadow: -5px 3px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1000;
    font-size: 18px;
    
    
}

.statbar p{
    margin-left: 20px;
}

.battingname

{
    font-size: 36px;
    font-weight: bolder;
    padding: 20px;
}

.bowlingname{
    font-size: 36px;
    font-weight: bolder;
    padding: 20px;
}


@media (max-width:768px) {
    .battingname,
    .bowlingname{
        font-size: 18px;
        padding: 10px;
    }

    .battersname,
    .bowlersname{
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .score{
        font-size: 18px;
        padding: 0px;
    }
}

